.DS_Store
hello-mega65.lst
test-fileio.prg
obj/test-fileio.lst
obj/test-fileio.o
obj/xemu.lst
obj/xemu.o
obj/mega65/conio.lst
obj/mega65/conio.o
obj/mega65/debug_calypis.lst
obj/mega65/debug_calypis.o
obj/mega65/dirent.lst
obj/mega65/dirent.o
obj/mega65/fat32.lst
obj/mega65/fat32.o
obj/mega65/fileio.lst
obj/mega65/fileio.o
obj/mega65/hal.lst
obj/mega65/hal.o
obj/mega65/math.lst
obj/mega65/math.o
obj/mega65/memory.lst
obj/mega65/memory.o
obj/mega65/mouse.lst
obj/mega65/mouse.o
obj/mega65/random.lst
obj/mega65/random.o
obj/mega65/sdcard.lst
obj/mega65/sdcard.o
obj/mega65/targets.lst
obj/mega65/targets.o
obj/mega65/time.lst
obj/mega65/time.o
src/mega65/.source.txt
